/PizzaPlaceSales/.vs
/PizzaPlaceSales/PizzaPlaceSales.Data/bin
/PizzaPlaceSales/PizzaPlaceSales.Data/obj
/PizzaPlaceSales/PizzaPlaceSales.DTOs/bin
/PizzaPlaceSales/PizzaPlaceSales.DTOs/obj
/PizzaPlaceSales/PizzaPlaceSales.Services/bin
/PizzaPlaceSales/PizzaPlaceSales.Services/obj
/PizzaPlaceSales/PizzaPlaceSales.WebAPI/bin
/PizzaPlaceSales/PizzaPlaceSales.WebAPI/obj
